<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ScreenshotListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="IdeaProjects/TikeZavrsniProjekat">
        <classes>
            <class name="FilterAndSortTests"/>
            <class name="FooterLinksTests"/>
            <class name="LoginTests"/>
            <class name="NavigationBarTest"/>
            <class name="RegisterTests"/>
            <class name="SearchTests"/>
            <class name="ShoppingTests"/>
        </classes>
    </test>
</suite>
